

                                                                     <!-- double mustache , pegar valores do ts e colocar no html-->

{{teste}}

<table>
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Preço</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let item of moedasExibirNoHtml">              <!-- of = receber moedasExibirNoHtml, comando do angular, assim como *ngFor -->
            <td>{{item.id}}</td>                                    <!-- item recebe moedasExibirNoHtml que recebe moedasvindodaapi que recebe moeda[] -->
            <td>{{item.nome}}</td>
            <td>{{item.precoCompraVenda}}</td>
            <td>detalhe</td>
        </tr>
    </tbody>
</table>


